.main{
    min-height: 90vh;
    display: grid;
    grid-template-columns: 1fr max-content;
    
    
    
}
.mobile{
    display: none;
}

@media only screen and (max-width:908px) {
    .mobile{
        display: block;
    }
}