.main{
    position: absolute;
    
    bottom:-65px;
    left: 10px;
    right: 10px;
    background-color:white;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    transition: border 0.1s linear;
    padding: 15px;
    
}
.input{
    border: 2px solid black;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 30px;
  
    
}
.input input{
    height: 32px;
    font-size: 18px;
    width: 55vw;
    
}
.option{
    
    
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 20px;
    font-weight: bold;
}
.cross{
position: absolute;
top: 3px;
right: 3px;
border: 0px;
font-size: 18px;
background-color: transparent;

}

.main::before{
    content: '';
    position: absolute;
    
    top: 100%;
    right: 100%;
    left: 20px;
    bottom: 0px;
    border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid white;
}
.outer{
position: fixed;

top: 0px ;
right: 0px;
left: 0px;
bottom: 0px;
opacity: 1;
}
.outer::before{
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.514);
}