.main{
  padding-top: clamp(10px,10vh,150px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,'min-content');
}
.details{
  display: grid;
  grid-template-columns: 2fr 1.5fr;
}
.visuals{
  border: 2px solid black;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr;
}
.visuals img{
  width: clamp(200px,100%,700px);
  align-self: center;
  
}
.smallimages{
  display: flex;
  justify-content: space-around;
  /* background-color: aqua; */
  align-items: center;
  margin: auto;
  height: 90%;
  width: 80%;
  flex-direction: column;
}
.smallimages img{
  width: clamp(40px,100%,100px);
 
}
.textual{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,'max-content');
  margin-left:clamp(10px,3vw,80px) ;
}
.name{
  
  display: flex;
  align-items: center;
  /* background-color: brown; */
  text-align: start;
  font-size: clamp(24px,5vw,60px);
  font-family: 'Archivo Black', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Rowdies', cursive;
}
.desc{
  margin: 0px;
  font-size:clamp(12px,1.3vw,25px) ;
  text-align: start;
  /* background-color:cyan; */
}
.price{
  display: flex;
  align-items: center;
  font-size:clamp(13px,1.4vw,27px) ;
  /* background-color: chocolate; */
}
.buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.innerbut{
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.buttons button{
  font-size: clamp(12px,1.3vw,20px);
  background-color: yellow;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
}
.buttons button:hover{
  background-color: transparent;
  border: 2px solid yellow;
}
.main h1{
  /* background-color: aqua; */
  margin: 0px;
  border-top: 5px solid black;
}
.recomended{display: none;}