.main{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    
}
.main img{
    width: 100%;
    aspect-ratio: 1;
}
.main div{
    display: flex;
    flex-direction: column;
}