.App {
  text-align: center;
  
  height: 100dvh;
  width: 100vw;
}
.root-div{
  display: grid;
  grid-template-rows: max-content max-content ;
  grid-template-columns: 1fr;
  height: 100dvh;
  overflow-y: scroll;
}

.header{
background-color: black;
color: white;
font-weight: bolder;
font-family: 'Archivo Black', sans-serif;
font-family: 'Rowdies', cursive;
padding: 10px 0px;
}
.header h1{
  margin: 0px;
}
.shop{
  
  width: 100%;
display: grid;
grid-template-columns: max-content 3fr;

}
.mobile-filter{
  display: none;
  
  
}
.mobile-filter img{
  justify-self: center;
  width: 30%;
  
  
}
.border-color {
  background-color: rgb(255, 228, 74);
  border: 0px;
  
  
}
.border-colorr {
  background-color: rgb(255, 228, 74);
  border:0px ;
}

.filterdiv{
  
  background-color:rgba(0, 0, 0, 0.9);
  color:white;
  
}
.inside{
  padding:10px;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-between;
  
}
.seachBar h2{
margin: 0px;
margin-bottom: 5px;
font-size: 28px;
}
.checkbuttonsdiv{
  border-bottom: 2px solid rgb(116, 115, 115);
  border-top: 2px solid rgb(116, 115, 115);
  display: grid;
  grid-template-columns: 1fr;
  height: 30vh;
  grid-template-rows: max-content 1fr;
}
.checkbuttonsdiv h2{
  font-size: 28px;
  margin: 2px;
}
.innercheckButtons{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 20px;
}
.checkbox input{
  height: 18px;
  width: 18px;
}
.search{
  display: flex;
}
.search input{
  border: 0px;
  height: 20px;
}
/* .search input:focus{
  outline: 1px solid yellow;
} */
.search button{
  border: 0px;
  border-left: 2px solid black;
}
.inpu{
  background-color: aliceblue;
  position: relative;
}
.inpu span{
  color: black;
  position: absolute;
}
.cartButton{
  background-color: yellow;
  border: 2px solid yellow;
  border-radius: 5px;
  font-weight: bolder;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.2s linear;
}
.cartButton:hover{
  background-color: transparent;
  color: yellow;
}
.productsec{
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(5,clamp(150px,20vw,300px)) ;
  grid-auto-flow: row;
  padding: 10px;
  gap: 10px;
}
@media only screen and (max-width:1772px) {
  .productsec{
  grid-template-columns:repeat(4,clamp(150px,20vw,300px));
}}
@media only screen and (max-width:872px) {
  .productsec{
  grid-template-columns:  clamp(150px,20vw,300px) clamp(150px,20vw,300px);
}}
@media only screen and (max-width:558px) {
  .filterdiv{
    display: none;
  
}}
@media only screen and (max-width:1386px) {
  .productsec{
  grid-template-columns:repeat(3,clamp(160px,30vw,310px));
}

}
@media only screen and (max-width:1218px) {
  .productsec{
  grid-template-columns:repeat(2,clamp(170px,40vw,320px));
}}
@media only screen and (max-width:908px) {
  .productsec{
    justify-self: center;
  grid-template-columns:repeat(2,clamp(170px,40vw,320px));
}
.filterdiv{
  display: none;
}
.mobile-filter{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  position: fixed;
  bottom: 0vh;
  
  right: 0px ;
  left: 0px;
}
.popup{
  
}
/* .mobile-filter button{
  background-color: rgb(255, 255, 58);
  border: 0px;

} */
.mobile-filter .border-color{
  
  border-right:5px solid black ;
}
.shop{
  grid-template-columns: 1fr;
  
}
}
.root-footer{
  background-color: black;
  color:gray;
  height: 200px;
  display: flex;
  align-items: center;
  
  justify-content: space-around;
}

.root-footer img{
  width: 100px;
  
}
.search-bar-mobile{
  position: absolute;
  top: -90px;
  right: 50px ;
  left: 20px;
  
}
@media only screen and (max-width:450px) {
  .root-footer{
    display: none;
  }
  .productsec{
    margin-bottom: 90px;
  }
}
.flag{
  display: inline-flex;
  align-items: center;
  padding-right: 5px;
  
}
.contact{
  padding: 3px;
  display: inline-flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
  
}
.contact :nth-child(2){
  color: rgb(0, 0, 0);
  font-weight: 800;
 background-color: rgb(214, 214, 214);
 width: max-content;
 margin: auto;
 padding: 5px;
 border-radius: 5px;
}
.logo{
  font-size: 30px;
}