.App {
  text-align: center;
  outline: 1px solid green;
  min-height: 100vh;
  width: 100vw;
}
.header{
background-color: black;
color: white;
font-weight: bolder;
font-family: 'Archivo Black', sans-serif;
font-family: 'Rowdies', cursive;
padding: 10px 0px;
}
.header h1{
  margin: 0px;
}
.shop{
  width: 100%;
display: grid;
grid-template-columns: max-content 3fr;
}
.filterdiv{
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.9);
  color:white;
}
.inside{
  padding:10px;
  position: sticky;
  top: 0px;
}
.checkbuttonsdiv{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search{
  display: flex;
}
.search input{
  border: 0px;
  height: 20px;
}
.search input:focus{
  outline: 1px solid yellow;
}
.search button{
  border: 0px;
  border-left: 2px solid black;
}
.inpu{
  background-color: aliceblue;
  position: relative;
}
.inpu span{
  color: black;
  position: absolute;
}
